<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--数据库连接配置文件-->
    <add key="databaseUrl" value="123.56.16.171" />
    <add key="databaseName" value="db_gamelol" />
    <add key="databaseUsername" value="root" />
    <add key="databasePassword" value="tt19951010" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--日志服务器连接配置文件-->
    <add key="logServerIp" value="60.205.213.83"/>
    <add key="logServerPort" value="2000" /> 
    <!--登录服务器端口配置-->
    <add key="tcpPort" value="2001"/>
    <add key="udpPort" value="1996"/>
    <add key="lobbyPort" value="1997"/>
    
   <!--登录服务器信息-->
    <add key="serverName" value="登录服务器"/>
    <add key="serverId" value="1"/>
    
    <!--中心服务器配置信息-->
    <add key="centerServerIP" value="192.168.1.104"/>
    <add key="centerServerPort" value="1998"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>