<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="databaseUrl" value="127.0.0,1"/>
    <add key="databaseName" value="db_gamelol"/>
    <add key="databaseUsername" value="root"/>
    <add key="databasePassword" value="tt19951010"/>
  </appSettings>
</configuration>
